<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Sign Up Signin Form Template Example</title>
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/style2.css">

</head>
<body>
        {{>navbar}}
            <h1 style="color: white;"> THIS IS home PAGE</h1>
</body>
</html>
